

{% extends 'base.html' %}

{% block title %}This is Employee page{% endblock %}

{% block content %}
<h1>Welcome, {{ username }}</h1>
<h1>Your Details</h1>
    <p><strong>Name:</strong> {{ employee.employee_name }}</p>
    <p><strong>Email:</strong> {{ employee.email }}</p>

    {% if cv %}
        <h2>CV Details</h2>
        <p><strong>Education:</strong> {{ cv.education }}</p>
        <p><strong>Experience:</strong> {{ cv.experience }}</p>
        <p><strong>Skills:</strong> {{ cv.skills }}</p>
        <p><strong>Created At:</strong> {{ cv.created_at }}</p>
        <a href="{% url 'cv_detail' employee.cv.id %}" class="btn btn-sm btn-primary">View CV</a>
        <a href="{% url 'create_or_edit_cv' %}" class="btn btn-sm btn-secondary">Edit CV</a>
        <a href="{% url 'employee_edit' employee.id %}" class="btn btn-sm btn-warning">Edit Profile</a>
        <a href="{% url 'user_calendar' %}" class="btn btn-sm btn-warning">User Calendar</a>
    {% else %}
        <p><em>No CV available for this employee.</em></p>
        <a href="{% url 'create_or_edit_cv' %}" class="btn btn-sm btn-secondary">Create CV</a>
    {% endif %}




{% endblock %}