{% extends base_template %}



{% block content %}
<div class="d-flex justify-content-center">
    <h2>Contracts Overview</h2>
    </div>
        <div class="d-flex justify-content-center">
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>Employer</th>
                <th>Manager</th>
                <th>Worked Hours</th>
                <th>Worked Days</th>
                <th>Business Hours</th>
                <th>Business Days</th>
                <th>Employee Earnings</th>
                <th>Employer Expense</th>
                <th>Manager Fee</th>
                <th>Net Salary</th>
                <th>Net Profit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in contract_reports %}
                <tr>
                    <td>{{ item.contract.id }}</td>
                    <td>{{ item.contract.employee }}</td>
                    <td>{{ item.contract.employer }}</td>
                    <td>{{ item.contract.manager|default:"No Manager" }}</td>

                    <td>{{ item.report.worked_hours }}</td>
                    <td>{{ item.report.worked_days }}</td>
                    <td>{{ item.report.business_hours }}</td>
                    <td>{{ item.report.business_days }}</td>

                    <td>Eur {{ item.report.employee_earnings }}</td>
                    <td>Eur {{ item.report.employer_expense }}</td>
                    <td>Eur {{ item.report.manager_fee }}</td>
                    <td>Eur {{ item.report.net_salary }}</td>
                    <td><strong>Eur {{ item.report.net_profit }}</strong></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="11">No contracts found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    <div class="d-flex justify-content-center"><a href="{% url 'eor:net_profit_chart' %}" class="btn btn-view-cv">View Charts</a></div>


{% endblock %}
