{% extends base_template %}

{% block content %}
  <h1>{{ employer.company_name  }} Contracts</h1>

  <!-- Bootstrap Table for contracts -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Employer</th>
        <th scope="col">Employee</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Worked Hours</th>
        <th scope="col">Worked Days</th>
        <th scope="col">Salary (EUR)</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      {% for contract in contracts %}
        <tr>
          <td>{{ contract.employer.company_name }}</td>
          <td>{{ contract.employee.user.first_name }} {{ contract.employee.user.last_name }}</td>
          <td>{{ contract.start_date }}</td>
          <td>{% if contract.end_date %} {{ contract.end_date }} {% else %} Ongoing {% endif %}</td>
          <td>{{ contract.worked_hours }} hours</td>
          <td>{{ contract.worked_days }} days</td>
          <td>{{ contract.calculate_salary_and_expenses.net_salary }} EUR</td>
          <td>{{ contract.payment_status  }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
